.style{
    background-color: dodgerblue;
    margin: auto;
    padding-left: 25%;
    padding-right: 25%;
    align-content: center;
    width: 100%;
}

.pic{
    align-self:center;
    height: 500px;
    width: 650px;
    margin-bottom: 100px;
}

.b{
    padding-top: 25%;
    margin-top: 200px;
    margin: auto;
    color: honeydew;
    width:100%;
}

.table{
    margin-top: 250px;
    color: floralwhite;
    padding: 10%;
}

.a{
    padding:10%;
    margin-top: 200px;
    margin-bottom: 10px;
    color: honeydew;
    width:100%;
    font-size: 25px;
    font-style: italic;
}
th, td {
    border: 1px solid black;
    color: black;
    padding: 15px;
}
table {
    border-spacing: 5px;
    margin-left: -300px;
}
th {
    text-align: left;
    background-color: gray;
}
td {
    background-color: honeydew;
}